<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:insert="~{layout/layout :: head}"></head>

<body>
	<header th:insert="~{layout/layout :: header}"></header>

	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>
			<div class="card-body">
				
				<h4 class="card-title">
					<a th:if="${usuarios}" class="btn btn-primary btn-xs" th:href="@{/formUsuario}">Añadir Usuario</a>
					<a th:if="${productos}" class="btn btn-primary btn-xs" th:href="@{/formProducto}">Añadir Producto</a>
				</h4>
				<table th:if="${usuarios}" th:insert="~{layout/layout :: listarUsuarios}"></table>
				<table th:if="${productos}" th:insert="~{layout/layout :: listarProductos}"></table>
			</div>
		</div>
	</div>

	<footer th:insert="~{layout/layout :: footer}"></footer>

</body>

</html>